body{
  width: 100%;
  background-color: #efefef;
}

.flex-container{
    display: flex;
    flex-direction:row;
    width: auto;
    justify-content:space-evenly;/*横向排列距离相等*/
    flex-wrap: wrap;
    height:auto;
   
  }

.card{
    overflow: hidden;
    background-repeat: no-repeat;
    margin:50px;
    position: relative;
    border-radius: 5px;
}
/*design on 1st card*/
.card--Italy{
    background-image: url(./assets/bg-2.png);
    height: 416px;
    width: 736px;
    margin: auto;
}

.card__line{

    width: 112px;
    height: 80px;
    border-left: 5px solid #00FA9A;
    position: absolute;
    /*margin: 270px 0px 60px 8px;*/

    top:300px;
    left: 8px;
    

}

.card__title{
    position: absolute;
    color: white;
    bottom:-7px;
    left: 45px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 48px;
    
    
}

.card__date{

    position: absolute;
    color: #00FA9A ;
    font-size:18px;
    left: 50px;
    top:280px;

}

.card__nation{

    background: white;
    background-clip: border-box; 
    width: 60px;
    padding:3px;
    border-radius: 5px;
    position: absolute;
    left:620px;
    top:25px;
    font-size: 15px;
    border-style: none;
    color: blue;
    text-align: center;
    
    
}

.card__bluebutton{
    position: absolute;
    right:30px;
    bottom: 40px;
    color:white;
    background: blue;
    border-radius: 20px;
    border-style:none ;
    width: 120px;
    height: 40px;
    
    
   

}

.card__bluebutton:hover{

    background-color:white;
    color: black;
    position: absolute;
    right:30px;
    bottom: 40px;

}


/*Design on second card design*/
.card--Brano{
  

    width: auto;
    height: 430px;
    /*
    background-image: url(./assets/bg-6.png);
    border-radius: 8px;*/
    /*overflow: visible；*/
}

.card__information{
    position: absolute;
    width: 290px;
    height: 150px;
    background-color: white;
    border-radius: 10px;
    left:25px;
    top:275px;
    border-style: none;
  }

.rating { 
    position:absolute;
    border: none;
    top:10px;
    left:10px;
  }
  
  .rating > input { display: none; } 
  .rating > label:before { 
    margin: 1px;
    font-size: 0.9em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
  }
  
  .rating > .half:before { 
    content: "\f089";
    position: absolute;
  }
  
  .rating > label { 
    color: #ddd; 
   float: right; 
  }
  
  /***** CSS Magic to Highlight Stars on Hover *****/
  
  .rating > input:checked ~ label, /* show gold star when clicked */
  .rating:not(:checked) > label:hover, /* hover current star */
  .rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */
  
  .rating > input:checked + label:hover, /* hover current star when changing rating */
  .rating > input:checked ~ label:hover,
  .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
  .rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 


  .card__reviews{

    color: silver;
    position: absolute;
    left:110px;
    top:6px;
    font-size: 12px;
  }

  .card__title-first{

    position: absolute;
    left:21px;
    top:15px;
    font-size: 25px;
    color:black

  }
  
  .places{
    position: absolute;
    left:23px;
    top:60px;
    font-size: 15px;
    
  }

  .card__price{
    position: absolute;
    color:black;
    left:23px;
    top:90px;
    font-weight: bold;
  }

  .arrow{
    background-color: blue;
    border-radius: 35px;
    height: 35px;
    position: absolute;
    right:20px;
    top:90px;
  }
  .heart{
    position: absolute;
    left:280px;
    top:20px;
  }

  .card-image{
   
    box-shadow: 5px  #888888;
  }
 
  .card__nation--second{
    color:white;
    background-color: red;
    top:10px;
    left: 250px;
  
  }

  .card__information--second{
    position: absolute;
    width: 340px;
    height: 255px;
    background-color: white;
    /*border-radius: 10px;*/
    left:0px;
    
    top:170px;
    border-style: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 5px 5px 20px 5px lightgray;

  }

  .card__title--second{

    top:0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
  }
  .card__textfadeout{
    position:absolute;
    top:60px;
    color: silver;
    left: 22px;
    font-size: 18px;
    line-height: 25px;
    -webkit-mask-image: -webkit-gradient(linear, left top, 
      left bottom, from(rgba(0,0,0,2)), to(rgba(0,0,0,0)))
    ;
  }

  .card__bluebutton--second{
    top: 145px;
    left: 102px;
  }


  /*Design on third card*/

  .card--Italy--third{
    background-image: url(./assets/bg-5.png);
    width: 340px;
    height: 245px;
    position: relative;
  }

  .card__nation--third{
   
    top:12px;
    left: 30px;
    background: 	dodgerblue;
    background-clip: border-box; 
    width: 80px;
    padding:3px;
    border-radius: 3px;
    position: absolute;
    font-size: 15px;
    border-style: none;
    color: white;
    text-align: center;
  }

  .card__title--third{
    position:absolute;
    top:90px;
    left: 30px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
  }

  .card__subtitle{
    top:130px;
    left:32px
  }

  .card__button--third{
    top:170px;
    left: 40px;
    font-size: 18px;

  }

  .card__arrow{
    height:20px;
    width:20px;
    position:absolute;
    left:135px;
    bottom:32px;

  }

  .card__dotlist{
    height:25px;
    width:25px;
    position:absolute;
    right: 20px;
    top:20px
  }